#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Ensure that we link against all needed libraries (cf. Policy 10.2)
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

# libqb is linked against pthread, rt and dl, yet it uses none
# of their symbols according to dpkg-buildflags, but this is
# not true; see configure.ac for more information

# main packaging script based on dh7 syntax
%:
	dh $@ --with autoreconf --fail-missing --link-doc=libqb0

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	./configure  --sysconfdir=/etc --localstatedir=/var --docdir=/usr/share/doc/libqb0 \
		--enable-dependency-tracking

override_dh_auto_build:
	dh_auto_build
	$(MAKE) doxygen
	rm docs/html/*.md5

DOC = debian/tmp/usr/share/doc/libqb0

override_dh_auto_install:
	dh_auto_install
	rm -v debian/tmp/usr/lib/lib*.la
	rm "$(DOC)/COPYING" "$(DOC)/INSTALL"
	rm -v docs/html/jquery.js
	
override_dh_strip:
	dh_strip --dbg-package=libqb0-dbg
